{% if threeGroup.getEnabled %}
    {% for entity in threeGroupAds  %}
        {% if loop.first %}
            <h1>{{ entity.getAdGroup.title }}</h1>
        {% endif %}
        {{ include('AntWebBundle:Ad:_three.html.twig') }}
    {% endfor %}
{% endif %}