{%  if twoGroup.getEnabled %}
    {% for entity in twoGroupAds  %}
        {% if loop.first %}
          <h1>{{ entity.getAdGroup.title }}</h1>
        {% endif %}
        {{ include('AntWebBundle:Ad:_two.html.twig') }}
    {% endfor %}
{% endif %}